.about-us {
  .history-section {
    padding-top: 82px;
    padding-bottom: 166px;
    .timeline-title {
      color: #d99f23;
      margin-bottom: 51px;
      font-size: 36px;
    }
    .history-timeline {
      h2 {
        font-size: 36px;
        margin-bottom: 51px;
      }
      .history-timeline__present {
        font-size: 34px;
      }
      .history-timeline__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 45px;
        padding-bottom: 45px;
        // list-style-image: url(../assets/images/about-us/list-style-type.png);
        list-style-type: none;
        padding-left: 0;
        li {
          font-size: 24px;
          display: flex;
          align-items: center;
          &::before {
            content: "";
            display: inline-block;
            background-image: url(../assets/images/about-us/list-style-type.png);
            height: 5px;
            width: 27px;
          }
          p {
            margin-bottom: 0;
            padding-left: 16px;
          }
        }
      }
    }

    .history-section__text {
      h2 {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 36px;
      }
      margin-top: 142px;
    }
    .car-image {
      margin-top: 67px;
    }
  }
  .darker-demo {
    background-image: url(../assets/images/home/second-bg.png);
    .darker-demo-title {
      margin-bottom: 10px;
      font-size: 36px;
      line-height: 71px;
    }
    .darker-demo-subTitle {
      margin-bottom: 42px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
