.blog-section {
  background-image: url(../assets/images/home/bg-twelve.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 40px;
  button {
    width: 207px;
    height: 44px;
    padding: 0;
  }
  .blog-section__title {
    margin-bottom: 51px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 41px;
    }
  }
  .blog-section__subTitle {
    margin-bottom: 18px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 29px;
    }
  }

  p {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }
  button {
    @include media-breakpoint-down(lg) {
      margin-top: 23px;
    }
  }
}
