// Custom variables
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$font-size-base: 1rem;
$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-hallelujah: 'Gloria Hallelujah', 'cursive';
$h1-font-size: $font-size-base * 3.25;
$headings-font-family: $font-family-sans-serif;
$primary: #f6d215;
$secondary: #000000;
$body-color: #333333;
$border-radius: 50px;
$border-color: rgba(51, 51, 51, 0.1);

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%,
);
$container-padding-x: 0;

$btn-padding-y: 0.563rem;
$btn-padding-x: 2.3125rem;
$btn-font-weight: 500;
$input-font-weight: 500;
$input-padding-y: 0.565rem;
$input-padding-x: 1.625rem;

$form-label-margin-bottom: 8px;
$form-label-font-size: 14px;
$form-label-font-weight: 500;
$form-label-color: #000000;
$form-check-input-border-radius: 50px;

$input-border-radius: $border-radius;
$input-border-color: $border-color;
$input-border-width: 1px;
$input-box-shadow: null;
$input-placeholder-color: rgba(51, 51, 51, 0.3);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/utilities';

// 2. Include any default variable overrides here
$nav-link-padding-y: 12px;
$nav-link-color: $dark;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// 4. Include any optional Bootstrap components as you like
@import '../node_modules/bootstrap/scss/nav';

// 5. including our own components
<<<<<<< HEAD
@import "./general.scss";
@import "./navbar";
@import "./home";
@import "./hardware";
@import "./software";
@import "./blog";
@import "./about-us";
@import "./blog-section";
@import "./demo";
@import "./different";
@import "./footer";
=======

// 6. Add additional custom code here
.container body {
  font-family: $font-family-sans-serif;
}

.fw-medium {
  font-weight: 500;
}
.fw-semi {
  font-weight: 600;
}
.text-primary {
  color: #d99f23 !important;
}
.main-title {
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 42px;
  color: #000000;
  @include media-breakpoint-down(lg) {
    font-size: 42px;
    line-height: 56px;
    margin-bottom: 23px;
  }
}
.quotes-text {
  font-size: 28px;
  line-height: 55.51px;
  font-weight: 400;
  @include media-breakpoint-down(lg) {
    font-size: 20px;
    line-height: 39.65px;
  }
}

.rotate {
  img {
    transform: rotate(180deg);
  }
}

.text-hallelujah {
  font-family: $font-family-hallelujah;
}

.section-container {
  padding: 0 100px;
  --bs-gutter-y: 0;
  --bs-gutter-x: 0;
  @include media-breakpoint-down(lg) {
    padding: 0 60px;
  }
  @include media-breakpoint-down(lg) {
    padding: 0 24px;
  }
}
// End of Custom Code

// Common Background for all
.giraffe-skin-bg {
  background-image: url(../assets/images/right-giraffe-bg.png);
  background-position: left top;
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 24px;
}
// Common background for all

.demo-section {
  background-image: url('../assets/images/home/bg-ten.png');
  padding-top: 35px;
  padding-bottom: 77px;
  @include media-breakpoint-down(lg) {
    padding-top: 50px;
    padding-bottom: 108px;
  }
  .demo-section-title {
    margin-bottom: 49px;
    @include media-breakpoint-down(lg) {
      font-size: 28px;
      line-height: 43px;
      margin-bottom: 43px;
    }
  }
  .demo-form {
    input {
      max-width: 404px;
      margin-right: 22px;
      @include media-breakpoint-down(lg) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 29px;
      }
    }
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }
}

.blog-section {
  background-image: url(../assets/images/home/bg-twelve.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 40px;
  @include media-breakpoint-down(lg) {
    padding-top: 49px;
    padding-bottom: 70px;
  }
  .blog-section__title {
    margin-bottom: 51px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 41px;
    }
    h2 {
      font-size: 36px;
      @include media-breakpoint-down(lg) {
        font-size: 36px;
        line-height: 43px;
      }
    }
    button {
      padding: 0.63rem 2.8rem;
    }
  }
  h5 {
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 30px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 29px;
    }
  }

  p {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      line-height: 27px;
      &:last-child {
        margin-bottom: 43px;
      }
    }
  }
}

// Home Page

// Home Page

// Hardware Page

// Cutter Tower section
// Hardware Page

// Software Page

// Software Page

// What Makes us Different
.different-page {
  .header-section {
    @include media-breakpoint-down(xl) {
      padding: 0 24px;
      align-items: flex-start !important;
    }
    .header-section-title {
      margin-bottom: 12px;
    }
    .header-section_talk {
      font-size: 24px;
      color: #d99f23;
      @include media-breakpoint-down(xl) {
        font-size: 20px;
        line-height: 39.65px;
      }
    }
  }

  .cards-section {
    background-image: url(../assets/images/different/towers-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7d215;
    padding: 170px 0px 319px;
    @include media-breakpoint-down(xl) {
      padding: 40px 0px 153px;
    }
    .cards-section-container {
      padding: 0 274px;
      @include media-breakpoint-down(xl) {
        padding: 0px 28px;
      }
    }
    .cards-section-card {
      margin-bottom: 174px;
      @include media-breakpoint-down(xl) {
        margin-bottom: 85px;
      }

      .cards-section_cardTitle {
        font-size: 36px;
        margin-bottom: 28px;
        color: #000000;
        @include media-breakpoint-down(xl) {
          font-size: 28px;
          line-height: 43px;
          margin-bottom: 24px;
        }
      }
      .cards-section_cardTalk {
        margin-bottom: 64px;
        @include media-breakpoint-down(xl) {
          br {
            display: none;
          }
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 54px;
        }
      }
      .cards-section_cardContent-cons {
        margin-right: 15px;
        @include media-breakpoint-down(xl) {
          margin-right: 0px;
          margin-bottom: 0px;
        }
      }
      .cons-container {
        @include media-breakpoint-down(xl) {
          margin-bottom: 34px;
        }
      }
      .cards-section_cardContent-pros {
        margin-left: 15px;
        @include media-breakpoint-down(xl) {
          margin-left: 0px;
        }
      }

      .cards-section_cardContent {
        background-color: white;
        border-radius: 22px;
        padding: 44px 56px 92px;
        height: 100%;
        @include media-breakpoint-down(xl) {
          padding: 30px 36px 56px;
        }

        .cards-section_cardContent-settingsIcon {
          margin-bottom: 36px;
          @include media-breakpoint-down(xl) {
            margin-bottom: 18px;
          }
        }
        .cards-section_cardContent-title {
          margin-bottom: 57px;
          font-size: 20px;
          font-weight: 600;
          color: #000000;
          @include media-breakpoint-down(xl) {
            font-size: 15px;
            margin-bottom: 37.85px;
          }
        }
        .cards-section_cardContent-common {
          margin-bottom: 42px;
          @include media-breakpoint-down(xl) {
            margin-bottom: 32px;
          }
          .cards-section_cardContent-common_img {
            margin-bottom: 8px;
          }
          .cards-section_cardContent-common_talk {
            font-size: 15px;
            font-weight: 500;
            color: #333333;
            line-height: 22px;
            @include media-breakpoint-down(xl) {
              font-size: 12px;
              line-height: 18px;
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .form-section {
    .form-section-image-container {
      .form-section-image--large {
        position: absolute;
        left: 0;
        top: 0;
        max-height: 100%;
        width: 35.5625%;
        height: 100%;
      }
    }
    .form-section-form {
      padding-left: 77px;
      padding-bottom: 68px;
      .form-section-form-container {
        padding-top: 76px;
        padding-bottom: 68px;
        @include media-breakpoint-down(xl) {
          padding: 28px 24px 76px;
        }
        select {
          background-image: url(../assets/images/different/select-ply.png);
          background-size: auto;
        }
        input,
        select {
          max-width: 404px;

          &.form-control {
            padding: 9px 26px;
          }
          &::placeholder {
            color: #c2c2c2;
          }
          @include media-breakpoint-down(xl) {
            max-width: 100%;
          }
        }
        .radio-buttons-container {
          height: 44.06px;
          input {
            width: 14px;
            height: 14px;
            border: 1px solid #ebebeb;
          }
          label {
            font-size: 14px;
          }
        }
        textarea {
          border-radius: 16px;
          color: rgba(51, 51, 51, 0.3);
          padding: 19px 26px 0px 26px;
        }
        .inline-checkbox {
          input {
            width: 20px;
            height: 20px;
            margin-right: 12px;
          }
        }
        .form-button {
          width: 193px;
          height: 44px;
          @include media-breakpoint-down(xl) {
            float: none !important;

            margin-top: 20px;
          }
        }
      }
    }
  }
}

@import './navbar';
@import './home';
@import './hardware';
@import './software';
@import './blog';
@import './about-us';
@import './footer';
>>>>>>> ed07f59d1988086f7a2407bb68bbb8758efad7a7
