// Custom variables

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$font-size-base: 1rem;
$font-family-sans-serif: 'Poppins', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-hallelujah: 'Gloria Hallelujah', 'cursive';
$h1-font-size: $font-size-base * 3.25;
$headings-font-family: $font-family-sans-serif;
$primary: #f6d215;
$secondary: #000000;
$body-color: #333333;
$border-radius: 50px;
$border-color: rgba(51, 51, 51, 0.1);
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1600px,
);
$container-padding-x: 0;

$navbar-light-toggler-border-color: transparent;
$navbar-toggler-focus-width: 0;

$btn-padding-y: 0.563rem;
$btn-padding-x: 2.3125rem;
$btn-font-weight: 500;
$input-font-weight: 500;
$input-padding-y: 0.565rem;
$input-padding-x: 1.625rem;

$form-label-margin-bottom: 8px;
$form-label-font-size: 14px;
$form-label-font-weight: 500;
$form-label-color: #000000;
$form-check-input-border-radius: 50px;

$input-border-radius: $border-radius;
$input-border-color: $border-color;
$input-border-width: 1px;
$input-box-shadow: null;
$input-placeholder-color: rgba(51, 51, 51, 0.3);

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/utilities';

// 2. Include any default variable overrides here
$nav-link-padding-y: 12px;
$nav-link-color: $dark;

// 3. Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

// 4. Include any optional Bootstrap components as you like
@import '../node_modules/bootstrap/scss/nav';

// 5. Add additional custom code here
.container body {
  font-family: $font-family-sans-serif;
}

.fw-medium {
  font-weight: 500;
}
.fw-semi {
  font-weight: 600;
}

.demo-form {
  input {
    max-width: 404px;
    margin-right: 1.375rem;
    @include media-breakpoint-down(lg) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 29px;
    }
  }
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.text-hallelujah {
  font-family: $font-family-hallelujah;
}

.section-container {
  padding: 0 100px;
  --bs-gutter-y: 0;
  --bs-gutter-x: 0;
  @include media-breakpoint-down(lg) {
    padding: 0 60px;
  }
  @include media-breakpoint-down(lg) {
    padding: 0 24px;
  }
}

.giraffe-skin-bg {
  background-image: url(../assets/images/right-giraffe-bg.png);
  background-position: left top;
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 24px;
}

// NavBar

.navbar {
  margin-top: 24px;
  font-family: Poppins;
  margin-bottom: 165px;
  @media screen and (max-width: 1200px) {
    margin-bottom: 57px;
  }
  .navbar-nav {
    .nav-link {
      font-size: 16px;
      font-weight: 400;
      color: black;
      margin-right: 48px;
      padding: 0;
      position: relative;
    }
    .active {
      font-weight: 500;
    }
    .active:before {
      content: '';
      display: block;
      position: absolute;
      width: 36px;
      height: 3px;
      left: 64%;
      background: #f6d215;
      border-radius: 20px;
      transform: translate(-50%);
      top: -14%;
    }
  }
  .login-button {
    padding: 12px 38px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar .navbar-nav .active:before {
    left: 3%;
  }
}
// NavBar

.just-show-me-demo-section {
  background-image: url('../assets/images/home/bg-ten.png');
  padding-top: 29px;
  padding-bottom: 77px;
  @include media-breakpoint-down(lg) {
    padding-top: 50px;
    padding-bottom: 108px;
  }
  h2 {
    margin-bottom: 1.875rem;
    @include media-breakpoint-down(lg) {
      font-size: 28px;
      line-height: 43px;
      margin-bottom: 43px;
    }
  }
}

.blog-section {
  background-image: url(../assets/images/home/bg-twelve.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3.125rem;
  padding-top: 2.5rem;
  .blog-section__text {
    margin-bottom: 3.1875rem;
    @include media-breakpoint-down(lg) {
      margin-bottom: 41px;
    }
    h2 {
      @include media-breakpoint-down(lg) {
        font-size: 36px;
        line-height: 43px;
      }
    }
  }
  h5 {
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 30px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 29px;
    }
  }

  p {
    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      line-height: 27px;
    }
  }
  button {
    @include media-breakpoint-down(lg) {
      margin-top: 23px;
    }
  }
}

// Home Page

.home-page {
  .first-section {
    position: relative;
    .first-section__header {
      padding-bottom: 325px;
      @include media-breakpoint-down(lg) {
        padding-bottom: 2px;
      }

      h1 {
        margin-bottom: 42px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 23px;
          font-size: 42px;
          line-height: 56px;
        }
      }
    }
    .first-section__image {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60%;
      @include media-breakpoint-down(lg) {
        width: 88%;
      }
    }
  }

  .second-section {
    padding-top: 69px;
    padding-bottom: 90px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 63px;
    }
    .second-sction--right {
      font-size: 18px;
      font-weight: 500;
      li {
        font-weight: 600;
      }
      @include media-breakpoint-down(lg) {
        margin-top: 49px;
        font-size: 14px;
      }
    }
  }

  .third-section {
    background-image: url('../assets/images/home/second-bg.png');
    padding-top: 29px;
    padding-bottom: 77px;
    @include media-breakpoint-down(lg) {
      padding-top: 50px;
      padding-bottom: 108px;
    }
    h3 {
      margin-bottom: 1.875rem;
      font-weight: 400;
      @include media-breakpoint-down(lg) {
        font-size: 28px;
        margin-bottom: 43px;
        line-height: 43px;
      }
    }
  }

  .fourth-section {
    position: relative;
    padding-top: 70px;
    padding-bottom: 64px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 24px;
    }
    .fourth-section__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      max-height: 100%;
      @include media-breakpoint-down(lg) {
        width: 85%;
      }
      @include media-breakpoint-down(md) {
        width: 95%;
      }
    }
    .fourth-section__text {
      padding-left: 87px;
      @include media-breakpoint-down(lg) {
        padding-left: 0;
        h2 {
          font-size: 28px;
          line-height: 42px;
          margin-bottom: 28px;
        }
        ul {
          font-size: 14px;
        }
        p {
          font-size: 14px;
          line-height: 21px;
        }
      }
      & > * {
        margin-bottom: 36px;
      }
      ul {
        line-height: 36px;
      }
      .foruth-section__text__first {
        font-size: 1.125rem;
        line-height: 33px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 33px;
          margin-bottom: 25px;
        }
      }
    }
  }

  .fifth-section {
    background-color: #1e212c;
    background-image: url(../assets/images/home/background-dots-5.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
      padding-top: 45px;
    }
    .fifth-section__text {
      & > * {
        margin-bottom: 41px;
      }
      h2 {
        @include media-breakpoint-down(lg) {
          margin-bottom: 50px;
          font-size: 28px;
          line-height: 45px;
        }
      }
      p {
        font-size: 18px;
        padding-right: 5%;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
          line-height: 24px;
          padding-right: 0;
        }
      }
    }
    button {
      @include media-breakpoint-down(lg) {
        padding: 0;
        width: 177px;
        height: 44px;
        margin-top: 15px;
      }
    }
    .fifth-section__img {
      @include media-breakpoint-down(lg) {
        width: 44%;
      }
    }
  }

  .sixth-section {
    padding-bottom: 64px;
    @include media-breakpoint-down(lg) {
      padding-top: 3px;
    }
    .sixth-section__videos {
      & > div {
        h2 {
          font-size: 36px;
          margin-top: 71px;
          margin-bottom: 37px;
          font-weight: bold;
          color: #000000;
          @include media-breakpoint-down(lg) {
            font-size: 28px;
            margin-top: 39px;
            margin-bottom: 18px;
            line-height: 42px;
          }
        }
      }
    }
    .sixth-section__img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40.5%;
      max-height: 100%;
      @include media-breakpoint-down(lg) {
        width: 72%;
      }
    }
  }

  .seventh-section {
    background-image: url(../assets/images/home/seven-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 48px;
    padding-bottom: 28px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 35px;
    }
    div {
      & > * {
        margin-bottom: 35px;
      }
      @include media-breakpoint-down(lg) {
        font-size: 16px;
        h3 {
          font-size: 28px;
          margin-bottom: 51px;
          line-height: 45px;
        }
      }
    }
  }

  .eight-section {
    background-image: url(../assets/images/home/background-eight.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3.5rem;
    padding-bottom: 4.0625rem;
    @include media-breakpoint-down(lg) {
      padding-top: 84px;
      padding-bottom: 91px;
    }
    h3 {
      margin-bottom: 19px;
      line-height: 45px;
      -webkit-text-stroke: 0.8px black;
      @include media-breakpoint-down(lg) {
        font-size: 28px;
        margin-bottom: 25px;
      }
    }
    h4 {
      margin-bottom: 3.5rem;
      line-height: 47.58px;
      @include media-breakpoint-down(lg) {
        font-size: 24px;
        margin-bottom: 51px;
      }
    }
  }

  .nineth-section {
    background-image: url(../assets/images/home/giraffe-bg.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    background-position: top right;
    @include media-breakpoint-down(lg) {
      padding-bottom: 123px;
    }
    .nineth-section__list {
      margin-top: 7.875rem;
      @include media-breakpoint-down(lg) {
        order: 2;
        margin-top: 60px;
      }
      .nineth-section__list__text {
        margin-left: 1.25rem;
        width: 91%;
        margin-bottom: 54px;
        @include media-breakpoint-down(lg) {
          font-size: 14px;
          width: 84%;
          line-height: 21px;
          margin-bottom: 38px;
        }
        h5 {
          font-weight: 600;
          margin-bottom: 0px;
          @include media-breakpoint-down(lg) {
            font-size: 18px;
            margin-bottom: 8px;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .nineth-section-imges {
      .nineth-section-img-ph {
        margin-bottom: 5.625rem;
        width: 40%;
        @include media-breakpoint-down(lg) {
          margin-bottom: 0;
          width: 100%;
        }
      }
      .nineth-section-img {
        position: absolute;
        top: 0%;
        right: 0;
        max-height: 100%;
        width: 41.5%;
        @include media-breakpoint-down(lg) {
          width: 87%;
        }
      }
    }
  }

  .eleventh-section {
    padding-bottom: 165px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 0;
    }
    .row {
      padding-top: 5.8125rem;
      padding-bottom: 6.5rem;
      @include media-breakpoint-down(lg) {
        padding-top: 44px;
        padding-bottom: 0;
      }
      .eleventh-section__text {
        & > * {
          margin-bottom: 2.375rem;
        }
        @include media-breakpoint-down(lg) {
          order: 2;
          h2 {
            font-size: 36px;
            margin-bottom: 28px;
          }
          p {
            font-size: 16px;
            line-height: 33px;
            margin-bottom: 52px;
          }
        }
        @include media-breakpoint-down(lg) {
          h2 {
            font-size: 28px;
          }
          p {
            font-size: 14px;
            line-height: 33px;
          }
        }
      }
      .eleventh-section__img {
        position: absolute;
        top: 0;
        right: 0;
        width: 54%;
        z-index: -1;
        @include media-breakpoint-down(lg) {
          width: 94%;
        }
      }
      .eleventh-section__phone {
        margin-top: 80px;
        margin-left: 55px;
        @include media-breakpoint-down(lg) {
          width: 52%;
          margin-bottom: 52px;
          margin-top: 0;
          margin-left: 0;
        }
      }
    }
  }
}

// Home Page

.hardware-page {
  .first-section {
    padding-bottom: 0.8125rem;
    @include media-breakpoint-down(lg) {
      padding-bottom: 60px;
    }
    .row {
      margin-bottom: 1.875rem;
    }
    @include media-breakpoint-down(lg) {
      h1 {
        font-size: 42px;
        line-height: 56px;
        margin-bottom: 23px;
      }
      .first-section__server-text {
        font-size: 14px;
        & > * {
          margin-bottom: 27px;
        }
        button {
          margin-top: 31px;
        }
      }
    }
  }

  .second-section {
    background-color: #1e212c;
    background-image: url(../assets/images/home/background-dots-5.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    @include media-breakpoint-down(lg) {
      padding-top: 45px;
    }
    .second-section__text {
      & > * {
        margin-bottom: 1.9375rem;
      }
      h2 {
        font-size: 2.25rem;
      }

      .second-section__text__bottom {
        margin-top: 0.875rem;
        p {
          margin-bottom: 1.9375rem;
        }
      }

      @include media-breakpoint-down(lg) {
        h2 {
          font-size: 28px;
          margin-bottom: 50px;
          line-height: 45px;
        }
        p {
          margin-bottom: 36px;
        }
        .second-section__text__bottom {
          margin-top: 5px;
          margin-bottom: 0;
          p {
            margin-bottom: 0;
            &:first-child {
              margin-bottom: 36px;
            }
          }
        }
      }
    }
    .second-section__img {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 100%;
      width: 35%;
      @include media-breakpoint-down(lg) {
        top: unset;
        bottom: 0;
        width: 70%;
      }
      @include media-breakpoint-down(lg) {
        width: 91%;
      }
    }
  }
  .third-section {
    padding-top: 5.9375rem;
    padding-bottom: 3.5rem;
    @include media-breakpoint-down(lg) {
      padding-top: 66px;
      padding-bottom: 80px;
    }
    .third-section__text {
      & > * {
        margin-bottom: 2.125rem;
      }
      @include media-breakpoint-down(lg) {
        order: -1;
        margin-bottom: 29px;
        h2 {
          font-size: 32px;
          margin-bottom: 28px;
          line-height: 48px;
        }
        p {
          margin-bottom: 34px;
        }
      }
    }
  }
  .fourth-section {
    background-image: url(../assets/images/hardware/bg-four.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      padding-bottom: 26px;
      h2 {
        font-size: 28px;
        line-height: 43px;
      }
    }
    .fourth-section__list {
      margin-top: 3.0625rem;
      div {
        margin-left: 1.4375rem;
        @include media-breakpoint-down(lg) {
          margin-left: 0;
          margin-bottom: 28px;
          img {
            margin-bottom: 16px;
          }
        }
        p {
          margin-bottom: 0;
          margin-left: 0.75rem;
          font-weight: 500;
          @include media-breakpoint-down(lg) {
            margin-left: 0;
          }
        }
      }
    }
  }

  .fifth-section {
    padding-top: 5.1875rem;
    padding-bottom: 3.4375rem;
    @include media-breakpoint-down(lg) {
      padding-top: 66px;
      padding-bottom: 64px;
    }
    .fifth-section__text {
      & > * {
        margin-bottom: 2.125rem;
      }
      button {
        margin-top: 0.75rem;
      }
    }
    .fifth-section__img {
      position: absolute;
      right: 0;
      top: 0;
      width: 32%;
      @include media-breakpoint-down(lg) {
        top: unset;
        bottom: 64px;
        width: 60%;
      }
      @include media-breakpoint-down(md) {
        width: 72%;
      }
    }
  }
  .sixth-section {
    background-image: url(../assets/images/hardware/bg-six.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e212c;
    padding-top: 1.875rem;
    padding-bottom: 3.0625rem;
    @include media-breakpoint-down(lg) {
      padding-bottom: 58px;
      padding-top: 55px;
    }
    .sixth-section__text {
      padding-left: 3.625rem;
      & > * {
        margin-bottom: 2.125rem;
      }
      @include media-breakpoint-down(lg) {
        order: -1;
        margin-bottom: 58px;
        padding-left: 0;
        h2 {
          font-size: 28px;
          margin-bottom: 50px;
        }
      }
    }
    .sixth-section__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      max-height: 560px;
      @include media-breakpoint-down(lg) {
        top: unset;
        left: unset;
        bottom: 0;
        right: 0;
        width: 70%;
      }
      @include media-breakpoint-down(sm) {
        width: 91%;
      }
    }
  }
  .seventh-section {
    background-image: url(../assets/images/hardware/seven-bg.png);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: top left;
    @include media-breakpoint-down(lg) {
      background-size: contain;
      background-position: top -8% left;
    }
    .seventh-section__img {
      padding-top: 2.75rem;
      padding-bottom: 11.375rem;
      @include media-breakpoint-down(lg) {
        padding-bottom: 24px;
        img {
          width: 62%;
        }
      }
    }
    .seventh-section__text {
      padding-top: 11.75rem;
      & > * {
        margin-bottom: 2.125rem;
      }
      @include media-breakpoint-down(lg) {
        padding-top: 0;
        padding-bottom: 49px;
        h2 {
          font-size: 32px;
          margin-bottom: 28px;
          line-height: 48px;
        }
        button {
          margin-top: 19px;
        }
      }
    }
  }
}

.software-page {
  .first-three-sections {
    background-image: url(../assets/images/software/first-3-bg.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }
  .first-section {
    .first-section__header {
      div {
        > * {
          margin-bottom: 2.625rem;
        }
      }
      @include media-breakpoint-down(lg) {
        h1 {
          font-size: 42px;
          line-height: 56px;
          margin-bottom: 23px;
        }
        p {
          margin-bottom: 23px;
          line-height: 24px;
        }
      }
    }
    .first-section__text {
      margin-top: 11.375rem;
      padding-right: 8.3%;
      padding-left: 0;
      @include media-breakpoint-down(lg) {
        padding-right: 0;
        h2 {
          font-size: 32px;
          margin-bottom: 32px;
          line-height: 48px;
        }
        p {
          margin-bottom: 36px;
          line-height: 24px;
        }
      }
      > * {
        margin-bottom: 2.125rem;
      }
    }
    .first-section__img__phone {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40%;
      max-height: 100%;
      z-index: 1;
    }
    .first-section__img__laptop {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 59.4%;
    }
  }

  .map-section {
    background-image: url(../assets/images/software/line-bg.png);
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    padding-top: 4.125rem;
    padding-bottom: 1.5rem;
    margin-bottom: 12.8125rem;
    margin-top: 8.75rem;
    @include media-breakpoint-down(lg) {
      background: none;
      padding-bottom: 72px;
    }
    .map-section__text {
      h5 {
        font-size: 1.125rem;
        margin-bottom: 0.8125rem;
        margin-top: 1.5625rem;
      }
    }
    @include media-breakpoint-down(lg) {
      .map-section__item {
        margin-bottom: 76px;
        img {
          width: 116px;
        }
        h5 {
          font-size: 16px;
          margin-top: 36px;
          margin-bottom: 16px;
        }
        p {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }

  .second-section {
    background-image: url(../assets/images/software/background-dots-6.png);
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: #1e212c;
    padding-top: 4.375rem;
    padding-bottom: 4.6875rem;
    .second-section__text {
      h2 {
        margin-bottom: 2.6875rem;
      }
      > * {
        margin-bottom: 2.125rem;
      }
    }
    .second-section__img img {
      position: absolute;
      top: 0;
      right: 0;
      width: 57%;
    }
  }
  .third-section {
    padding-top: 4.4375rem;
    padding-bottom: 4.8125rem;
    .third-section__text {
      margin-top: 5.9375rem;
      &:first-child {
        margin-top: 3.125rem;
      }
      > * {
        margin-bottom: 2.125rem;
      }
    }
  }

  .fourth-section {
    background-image: url(../assets/images/software/lock-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    background-color: #f6d215;
    padding-top: 3.25rem;
    padding-bottom: 7.125rem;
    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .fourth-section__header {
      h2 {
        margin-bottom: 2.875rem;
      }
    }
    .fourth-section__list {
      @include media-breakpoint-down(lg) {
        h2 {
          font-size: 28px;
          line-height: 43px;
        }
      }
      ul {
        list-style-type: none;
        @include media-breakpoint-down(lg) {
          padding: 0;
        }
        li {
          display: flex;
          margin-bottom: 1.625rem;
          @include media-breakpoint-down(lg) {
            margin-bottom: 54px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
          }
          .fourth-section__list__icon {
            margin-right: 2rem;
            @include media-breakpoint-down(lg) {
              width: 42px;
              height: 42px;

              margin-right: 0;
              margin-bottom: 11px;
            }
          }
          h5 {
            margin-bottom: 0.375rem;
            font-weight: bold;
            @include media-breakpoint-down(lg) {
              font-size: 18px;
              font-weight: 600;
            }
          }
          p {
            height: 96px;
            @include media-breakpoint-down(lg) {
              height: unset;
              margin-top: 9px;
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }
    }
    .fourth-section__list__left {
      ul {
        list-style-type: none;
        li {
          p {
            padding-right: 48px;
            @include media-breakpoint-down(lg) {
              padding-right: 0;
            }
          }
        }
      }
    }
  }

  .fifth-section {
    padding-top: 5.1875rem;
    padding-bottom: 8rem;
    .fifth-section__img__text {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 400px;
      padding: 35px;
      background-color: white;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
      transform: skew(0deg, -7deg);
      h3 {
        transform: skew(0deg, 7deg);
      }
    }
    .fifth-section__text {
      margin-top: 5.4375rem;
      padding-left: 6%;
      & > * {
        margin-bottom: 2.125rem;
      }
      button {
        margin-top: 0.625;
      }
    }
    .fifth-section__img {
      padding-right: 0;
      background-image: url(../assets/images/software/security-footage.png);
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .sixth-section {
    background-image: url(../assets/images/software/sw-bg-six.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3.8125rem;
    padding-bottom: 3.9375rem;
    .sixth-section__text {
      & > * {
        margin-bottom: 2rem;
      }
    }
  }
  .seventh-section {
    background-image: url(../assets/images/software/sw-bg-seven.png);
    background-size: auto;
    background-position-y: -217px;
    background-position-x: right;
    background-repeat: no-repeat;
    padding-top: 11.25rem;
    padding-bottom: 9.0625rem;

    .seventh-section__text {
      padding-right: 5%;
      & > * {
        margin-bottom: 2.125rem;
      }
    }
  }
}

// What Makes us Different
.different-page {
  .first-section {
    @include media-breakpoint-down(lg) {
      padding: 0 24px;
      align-items: flex-start !important;
    }
    .first-section_title {
      margin-bottom: 12px;
      font-weight: 600;
      color: #000000;
      @include media-breakpoint-down(lg) {
        font-size: 42px;
        line-height: 56px;
      }
    }
    .first-section_talk {
      font-size: 24px;
      color: #d99f23;
      @include media-breakpoint-down(lg) {
        font-size: 20px;
        line-height: 39.65px;
      }
    }
  }
  .second-section {
    background-image: url(../assets/images/different/towers-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f7d215;
    padding: 170px 0px 319px;
    @include media-breakpoint-down(lg) {
      padding: 40px 0px 153px;
    }
    .second-section-container {
      padding: 0 274px;
      @include media-breakpoint-down(lg) {
        padding: 0px 28px;
      }
    }
    .second-section-card {
      margin-bottom: 174px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 85px;
      }

      .second-section_cardTitle {
        font-size: 36px;
        margin-bottom: 28px;
        @include media-breakpoint-down(lg) {
          font-size: 28px;
          line-height: 43px;
          margin-bottom: 24px;
        }
      }
      .second-section_cardTalk {
        margin-bottom: 64px;
        @include media-breakpoint-down(lg) {
          br {
            display: none;
          }
          font-size: 14px;
          line-height: 21px;
          margin-bottom: 54px;
        }
      }
      .second-section_cardContent-cons {
        margin-right: 15px;
        @include media-breakpoint-down(lg) {
          margin-right: 0px;
          margin-bottom: 0px;
        }
      }
      .cons-container {
        @include media-breakpoint-down(lg) {
          margin-bottom: 34px;
        }
      }
      .second-section_cardContent-pros {
        margin-left: 15px;
        @include media-breakpoint-down(lg) {
          margin-left: 0px;
        }
      }

      .second-section_cardContent {
        background-color: white;
        border-radius: 22px;
        padding: 44px 56px 92px;
        height: 100%;
        @include media-breakpoint-down(lg) {
          padding: 30px 36px 56px;
        }

        .second-section_cardContent-settingsIcon {
          margin-bottom: 36px;
          @include media-breakpoint-down(lg) {
            margin-bottom: 18px;
          }
        }
        .second-section_cardContent-title {
          margin-bottom: 57px;
          font-size: 20px;
          font-weight: 600;
          color: #000000;
          @include media-breakpoint-down(lg) {
            font-size: 15px;
            margin-bottom: 37.85px;
          }
        }
        .second-section_cardContent-common {
          margin-bottom: 42px;
          @include media-breakpoint-down(lg) {
            margin-bottom: 32px;
          }
          .second-section_cardContent-common_img {
            margin-bottom: 8px;
          }
          .second-section_cardContent-common_talk {
            font-size: 15px;
            font-weight: 500;
            color: #333333;
            line-height: 22px;
            @include media-breakpoint-down(lg) {
              font-size: 12px;
              line-height: 18px;
              br {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .third-section-form-container {
    padding: 105px 100px 68px 0px;
    @include media-breakpoint-down(lg) {
      padding: 28px 24px 76px;
    }
    input {
      max-width: 404px;
      @include media-breakpoint-down(lg) {
        max-width: 100%;
      }
    }
    .radio-buttons-container {
      height: 44.06px;
      input {
        width: 14px;
        height: 14px;
      }
      label {
        font-size: 14px;
      }
    }
    textarea {
      border-radius: 16px;
      color: rgba(51, 51, 51, 0.3);
    }
    .inline-checkbox {
      input {
        width: 20px;
        height: 20px;
        margin-right: 12px;
      }
    }
    .form-button {
      width: 193px;
      height: 44px;
      @include media-breakpoint-down(lg) {
        float: none !important;

        margin-top: 20px;
      }
    }
  }
}
// What Makes us Different

// Case Studies

.case-study {
  .first-section_title {
    margin-bottom: 42px;
    font-weight: 600;
  }
}

// Case Studies

// Blog
.blog {
  .first-section {
    margin-bottom: 97px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 68px;
    }
    .first-section_title {
      margin-bottom: 42px;
      font-weight: 600;
      @include media-breakpoint-down(lg) {
        font-size: 42px;
        margin-bottom: 23px;
      }
    }
    .first-section_subTitle {
      @include media-breakpoint-down(lg) {
        br {
          display: none;
        }
        font-size: 21px;
      }
    }
  }
  .card-container {
    .card-content-container {
      @include media-breakpoint-down(lg) {
        margin-bottom: 65px;
      }
      .card-content-container_title {
        @include media-breakpoint-down(lg) {
          font-size: 32px;
          line-height: 48px;
        }
      }
    }
  }
  .cards-columns-container {
    margin-bottom: 85px;
  }
}

// Blog

// Indvidual Blog

.one-blog {
  .first-section_backTo {
    font-weight: 600;
  }
  .first-section_title {
    margin-top: 38px;
    margin-bottom: 42px;
    font-weight: 600;
    @include media-breakpoint-down(lg) {
      margin-top: 44px;
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 27px;
    }
  }
  .first-section_date {
    font-weight: 600;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }
  .first-section_image {
    margin-top: 67px;
    margin-bottom: 38px;
    @include media-breakpoint-down(lg) {
      margin-top: 47px;
      margin-bottom: 30px;
    }
  }
}

// Indvidual Blog

// demo section

.who-section {
  .who-section__headers {
    h1 {
      margin-bottom: 2.625rem;
    }
  }
}

.history-section {
  padding-top: 5.125rem;
  padding-bottom: 10.375rem;
  .history-timeline {
    h2 {
      font-size: 2.25rem;
      margin-bottom: 3.1875rem;
    }
    .history-timeline__present {
      font-size: 2.125rem;
    }
    .history-timeline__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 2.813rem;
      padding-bottom: 2.813rem;
      // list-style-image: url(../assets/images/about-us/list-style-type.png);
      list-style-type: none;
      padding-left: 0;
      li {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        &::before {
          content: '';
          display: inline-block;
          background-image: url(../assets/images/about-us/list-style-type.png);
          height: 5px;
          width: 27px;
        }
        p {
          margin-bottom: 0;
          padding-left: 1rem;
        }
      }
    }
  }

  .history-section__text {
    padding-right: 17%;
    h2 {
      margin-bottom: 1.875rem;
    }
    p {
      margin-bottom: 2.25rem;
    }
    margin-bottom: 1.938rem;
  }
}

.demo-section {
  background-image: url(../assets/images/about-us/demo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #1e212c;
  padding-bottom: 6rem;
  padding-top: 3rem;
  h2 {
    font-size: 2.25rem;
    margin-bottom: 0.625rem;
  }
  p {
    margin-bottom: 2.625rem;
  }
}

// demo section

// Footer

.footer {
  padding-top: 64px;
  padding-bottom: 89px;

  .footer-upper_first {
    margin-bottom: 46px;
  }
  .footer-upper_second {
    margin-bottom: 100px;
    a {
      text-decoration: none;
    }

    .footer-pages-link-bold {
      color: #000000;
      font-weight: 600;
      font-size: 18px;
    }
    .footer-pages-link-light {
      color: #a5a5a5;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .footer-bottom-content {
    .footer-bottom-content-copyright {
      color: #a5a5a5;
      font-size: 14px;
    }
  }
}

// Footer
