// Footer
.footer {
  padding-top: 64px;
  padding-bottom: 89px;
  .dropdown button {
    padding: 0;
  }
  .footer-upper_first {
    margin-bottom: 46px;
  }
  .footer-upper_second {
    margin-bottom: 100px;
    a {
      text-decoration: none;
    }

    .footer-pages-link-bold {
      color: $secondary;
      font-size: 18px;
    }
    .footer-pages-link-light {
      color: #a5a5a5;
    }
  }
  .footer-bottom-content {
    .footer-bottom-content-copyright {
      color: #a5a5a5;
      font-size: 14px;
    }
  }
}

// Footer
