// NavBar
.navbar {
  margin-top: 24px;
  font-family: Poppins;
  margin-bottom: 165px;
  @media screen and (max-width: 1200px) {
    margin-bottom: 57px;
  }
  .navbar-collapse {
    @media screen and (max-width: 1200px) {
      margin-top: 81px;
    }
  }
  .navbar-toggler {
    border: 0;
    color: transparent;
  }
  .navbar-nav {
    .dropdown-toggle::after {
      border: 0;
    }
    .dropdown-up {
      display: none;
    }
    .dropdown-menu {
      border: 0;
      border-radius: 0;
      border-left: 3px solid $primary;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
      @media screen and (max-width: 1200px) {
        border-left: none;
        background-color: transparent;
        box-shadow: unset;
      }
      .dropdown-item {
        @media screen and (max-width: 1200px) {
          font-size: 20px;
          font-weight: 300;
          line-height: 30px;
        }
      }
    }
    .nav-link {
      color: $secondary;
      margin-right: 48px;
      padding: 0;
      position: relative;
      @media screen and (max-width: 1200px) {
        font-size: 25px;
        line-height: 37.5px;
      }
    }
    .nav-item {
      @media screen and (max-width: 1200px) {
        margin-bottom: 34px !important;
      }
    }
    .active {
      font-weight: 500;
      color: #000000;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 36px;
        height: 3px;
        left: calc(100% - 18px);
        background: #f6d215;
        border-radius: 20px;
        transform: translate(-50%);
        top: -14%;
      }
    }
  }
  .login-button {
    padding: 12px 38px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar .navbar-nav .active:before {
    display: none;
  }
}
// NavBar
